
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.rpm
*.deb
*.o
*.ko

# Output of the go installer
/dist

# Compiled Go packages
*.test
*.out

# Editor directories and files
.idea/
.vscode/
.DS_Store
*.sublime-project
*.sublime-workspace


